.container {
    background-color: #C4C4C4;
    display: flex;
    width: 25%;
    height: 70%;
    border-radius: 20px;
    margin: auto;
    padding-top: 10px;
    margin-top: 50px;
    flex-direction: column;
}

.screen {
    display: block;
    background-color: white;
    justify-content: center;
    padding: 40px 20px;
    margin: 5% 10%;
    border-radius: 5px;
}

.displayedNum {
    display: inline-block;
    margin: 0px;
}

div {
    display: block;
}

.buttons {
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

.buttons .numButton {
    width: 15%;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
}

.buttons .operator {
    width: 15%;
    height: 50px;
    background-color: rgb(132, 172, 240);
    border-radius: 5px;
    margin: 10px;
    text-align: center;
}

.buttons #clear {
    background-color: rgb(230, 84, 84);
}

.buttons #equals {
    background-color: rgb(95, 238, 112);
}