.container {
    background-color: #000000;
    display: flex;
    width: 25%;
    height: 70%;
    border-radius: 20px;
    margin: auto;
    padding-top: 10px;
    margin-top: 50px;
    flex-direction: column;
}

.screen {
    display: block;
    background-color: white;
    justify-content: center;
    padding: 50px 20px;
    margin: 5% 10%;
    border-radius: 5px;
}

.displayedNum {
    display: inline-block;
    margin: 0px;
}

div {
    display: block;
}

.buttons {
    display: block;
    text-align: center;
    margin: 5% 10%;
}

.buttons .numButton {
    width: 21.5%;
    height: 60px;
    background-color: rgb(197, 195, 195);
    border-radius: 5px;
    text-align: center;
    margin: 1% 1%;
    font-size: 20px;
}

.buttons .operator {
    width: 21.5%;
    height: 60px;
    background-color: rgb(4, 76, 201);
    border-radius: 5px;
    text-align: center;
    margin: 1% 1%;
    font-size: 20px;
}

.buttons #clear {
    background-color: rgb(255, 0, 0);
}

.buttons #equals {
    background-color: rgb(0, 255, 30);
    width: 46.5%;
}

.buttons #back {
    background-color: rgb(197, 195, 195);
}

.buttons #zero {
    width: 46.5%;
}

p {
    margin: 0px;
    font-size: 30px;
}